*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
}

nav{
    background: #f0caed;
}

.titulo{
    color: #9e077d;
    width: 100vw;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20;
    margin: 0 auto;
    margin-top: 30px;
}

.tarjeta{
    max-width: 250px;
    position: relative;
    padding: 15px 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    background: #9e077d;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
}

.imgProducto{
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

p{
    color: #E9EEF2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.btnAgregar{
    height: 40px;
    padding: 0 15px;
    border-radius: 25px;
    border: 2px solid #9b0983;
    background: #E9EEF2;
    color: #4e0536;
    font-family: Lato-Black;
    transition: .5s ease;
}
.btnAgregar:hover{
    background: #e207c5;
    color: #E9EEF2;
}
.btnAgregar:active{
    background: #0F172E;
}


.cart{
    position: absolute;
    right: 35px;
    top: 25px;
    text-decoration: none;
}

.cartIcon{
    width: 30px;
}

.cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#cartCounter{
    position: absolute;
    width: 15px;
    height: 15px;
    color: white;
    background: rgb(85, 63, 209);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

